@tailwind base;
@tailwind components;
@tailwind utilities;

.heart-icon {
    transition: fill 0.3s ease-in-out;
  }
  
 .fav-active{
    fill:red;
 }
  
  .fav-active:hover {
    fill: red; /* Color de relleno al hacer hover, solo si es favorito */
  }
  

  